{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ message }}</strong>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h1>Score</h1>
	<table class="table">
		<thead>
			<tr>
				<th class="text-left">User</th>
				<th class="text-center">Points</th>
			</tr>
		</thead>
		<tbody>
		{% for user, points in user_score %}
			<tr>
				<td class="text-left">{{ user }}</td>
				<td class="text-center">{{ points }}</td>
			</tr>
		{% endfor %}
		</tbody>
	<table>
</div>
{% endblock %}
